.header {
  background-color: $gray1;
  height: $header-height;
  line-height: $header-height;

  padding: 0px 6px;
  color: $white;

  overflow: hidden;

  top: 0;
  @include easeOut;

  img {
    height: 17px;
  }

  .page-selection-image {
    margin-right: 38px;
    height: 26px;
  }

  .page-base-url {
    font-weight: 300;
    margin-left: 17px;
  }

  .page-subdomain-url {
    display: inline-block;
    vertical-align: top;

    text-decoration: underline;
  }

  .edit-image {
    margin-left: 17px;
  }

  .header-controls {
    float: right;
    height: $header-height;
    line-height: $header-height;

    img {
      height: 26px;
      margin-right: 38px;

      &.preview-button {
        width: 35px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }

}

.exit-preview-button {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 1000;
  background-color: $gray2;
  padding: 10px;
  border-radius: 33px;
  width: 56px;
  height: 56px;
}
