.page-selection {

  // Need !important to override edit-mode attribute setting base app padding
  padding: 50px !important;
  overflow: hidden;

  h1 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: $gray1;

    &.no-pages-created-message {
      padding: 0 12%;
      margin: 34px 0;
      text-transform: none;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  background: $gray-2;

  .built-page-container {
    margin: 40px 15px 0px 15px;

    overflow: auto;
    text-align: center;

    height: 100%;
    width: 100%;
  }

  $built-block-height: 405px;
  $built-block-img-height: 218px;

  .built-page-block {
    display: inline-block;
    vertical-align: top;

    position: relative;
    text-align: center;

    margin: 0 20px 40px 20px;

    width: 250px;
    height: $built-block-height;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

    // Adding new content with :after on hover allows it to go over the image
    &:hover {
      .built-page-image-container {
        background: rgba(0,0,0,.5);

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            @include activeHighlight;
        }

        // Usually hidden, but shown on hover
        .edit-button-container {
          display: table;
        }

        .preview-image {
          opacity: 0.5;
        }
      }
    }

    &.add-block {
      // Override highlight option on normal blocks
      &:after {
          position: absolute;
          height: 0;
          width: 0;
          content: '';
      }
      .vertical-align-container {
        width: 100%;
        height: 100%;
      }
      img {
        width: 65px;
        height: 65px;
      }
      box-shadow: none;

      // No height if we're on initial create page
      &.no-pages {
        height: auto;
        width: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 31px;
      }
    }

    .built-page-description {
      padding: 0px 25px;

      height: $built-block-height - $built-block-img-height;

      .unpublished-edits {
        height: 14px;
        border-radius: 2px;
        font-size: 10px;
        color: #ffffff;
        display: block;
        margin-top: 11px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;

        b {
          background-color: #80c7c8;
          width: 150px;
          border-radius: 2px;
        }
      }

      .built-page-title {
        margin-top: 4px;
        height: 66px;
        overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        font-size: 16px;
        color: $green;
        margin-bottom: 18px;
      }
      
    }

    .built-page-image-container {
      width: 250px;
      height: 218px;
      // To vertically align image
      line-height: 218px;
      position: relative;

      .edit-button-container {
        // Display overriden on hover for parent
        display: none;

        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .preview-image {
        max-width: 250px;
        max-height: 218px;
      }
      .edit-image {
        width: 40px;
        height: 40px;
        margin: 0 12px;
      }
    }

    .published-time {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 10px;
      color: $gray3;

      font-size: 12px;
    }

    .switch {
      margin-left: 10px;
    }

    .switch-label{
      top: -9px;
      position: relative;
      left: -22px;

      &.on{
        left: -43px;
      }
    }

  }
}
