/// Color picker styles
.swatch-container {
  margin-top: 5px;
}
.color-swatch {
  display: inline-block;
  border-radius: 15px;
  width: 15px;
  height: 15px;

  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }

  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.29);
  border: solid 1px rgba(0, 0, 0, 0.16);
}

.color-hex-container {
  border: 1px solid $gray0;
  .color-swatch {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
  .eyedropper {
    margin: 0 5px;
  }
  input {
    border: none;
    display: inline;
    width: 135px;
    font-size: 12px;
  }
}
