.controls-container {

  width: $controls-width;
  height: 100%;

  padding: 0px $controls-container-padding 40px $controls-container-padding;

  display: inline-block;
  vertical-align: top;

  overflow-x: hidden;
  overflow-y: auto;

  font-size: 15px;
  color: $gray2;

  @include easeOut;


  // For animations
  * {
    opacity: 1;

    // TODO: Would be nice to fade out elements, but this gave pretty bad performance results, maybe there's
    // a more performant way to fade out?
    // @include easeOut;
  }

  &.collapsed {
    width: 0;
    padding: 0;
    margin: 0;
    * {
      opacity: 0;
    }
  }

}
