// TODO: See how long we can go with making generic classes,
// will probably have to split out larger components into their own files

.controls-container {

  fieldset {
    margin-top: 30px;

    hr {
      margin-left: 0 - $controls-container-padding;
      width: $controls-width;
      margin-top: 2px;
      border-color: $gray0;
    }
  }
  legend {
    margin-top: 30px;
    @include bold;

    // Collapse arrow
    img {
      padding: 5px;
    }
  }
  label {
    position: relative;
    @include normal-weight;
    width: 100%;

    margin-top: 23px;
    margin-bottom: 15px;
  }
  .label-separator {
    margin-bottom: 20px;
  }
  textarea {
    font-size: 12px;
    width: 100%;
    height: 75px;
    margin-top: 19px;

    padding: 12px;

    border: 1px solid $gray0;
    border-radius: 4px;

    resize: none;
  }

  a {
    font-size: 12px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .switch-container {
    position: relative;
    padding-top: 10px;
  }

  .character-count-container {
    text-align: right;
    span {
      display: inline-block;
      vertical-align: top;

      font-size: 12px;
      color: $gray2;
    }
    .character-count {
      text-align: center;
      margin-left: 8px;
      min-width: 38px;
      border-radius: 2px;
      background: $gray1;
      color: $white;
      &.warning {
        background: $yellow1;
      }
    }
  }
}

// Hack to have Firefox respect fieldset widths, and bottom padding of control container.
// TODO: refactor to not need browser specific hacks.
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
    .controls-container {
      > :last-child {
        margin-bottom: 25px;
      }
    }
}

// For now use custom class since things like colorpicker use their own inputs
.custom-input {
  font-size: 12px;
  width: 100%;
  height: 35px;
  margin-top: 19px;

  padding: 12px;

  border: 1px solid $gray0;
  border-radius: 4px;
}

.custom-input {
  font-size: 12px;
  width: 100%;
  height: 35px;
  margin-top: 19px;

  padding: 12px;

  border: 1px solid $gray0;
  border-radius: 4px;

}
.custom-input-icon {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.custom-input-subtext-container {
  &.success {
    color: $green;

    button {
      color: $white;
      background-color: $green;
    }
  }
  &.failure {
    color: $red1;

    button {
      color: $white;
      background-color: $red1;
    }
  }
  span {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    margin-top: 15px;
    font-weight: 300;
    width: 100%;
  }
}
