.image-upload-container {
  font-weight: 400;

  .image-title {
    margin-top: 10px;
    font-size: 10px;
  }

}

.image-dropzone {
  width: 180px;
  height: 90px;
  background-color: $gray-1;

  padding: 10px 0;

  text-align: center;

  * {
    font-size: 12px;
  }

  button {
    border-radius: 3px;
    color: $white;
    background-color: $gray1;
    border: none;
    padding: 5px 16px;

    @include opacityHover;
  }
}
