.add-new-job-container {
  color: $green;
  img {
    margin-right: 12px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    color: #2eb869;

    span {
      text-decoration: underline;
    }
  }
}

.jobs-list {
  font-size: 12px;
  padding-left: 4px;
  user-select: none;

  li {
    margin: 6px 0px;
  }
  img {
    margin-right: 8px;
    @include opacityHover;
  }
  span {
    max-width: 132px;
    @include ellipsis();
  }
  img, span {
    display: inline-block;
    vertical-align: middle;
  }

  .remove-job {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 3px;
  }
}
