/// Mostly overriding styles that were set in `lib/geosuggest` that were meant for styles within job modal

.controls-container {
  .geosuggest {
    min-width: none;
    max-width: none;
    width: 100%;
    margin: 0;

    input {
      border: 1px solid $gray-1;
      border-radius: 4px;
      padding: 6px;
    }
  }

}
