.long-form-inline-editor {
  margin-bottom: 20px;


  // Animations
  max-height: 55px; // Taller than we should ever actually get
  opacity: 1;
  @include easeOut;

  &.editor-hidden {
    padding: 0;
    margin: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
}

.log-form-editor-button {

  display: inline-block;
  vertical-align: top;
  text-align: center;

  padding: 12px;
  min-width: 45px;

  background: $teal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: $white;

  &.is-active-true {
    background: #3aa990;
  }

  &.button-italic {
    font-style: italic;
  }
  &.button-underline {
    text-decoration: underline;
  }
}

// Single line editor, but just one style so didn't think it warranted it's own file
.single-editor-placeholder-visible {
  div {
    &:before {
      content: attr(data-placeholder)
    }
    &:focus {
      &:before {
        display: none;
      }
    }
  }
}
