.sign-up-control {

  .sign-up-label {
    margin: 23px 0 10px 0;
  }

  button {
    width: 100%;
    height: 35px;
    background-color: $green;
    color: $white;
    margin: 13px auto;
  }
  .checkbox-label-container {
    text-align: right;
    font-weight: 800;
    font-size: 12px;
    span {
      display: inline-block;
      vertical-align: top;
      &:last-child {
        margin-left: 10px;
      }
    }
  }
  ul {
    margin: 10px auto 20px auto;
  }
  li {
    font-size: 14px;
    margin: 10px auto;
    .list-input-container {
      float: right;
      padding-right: 5px;
    }
    .control-group {
      &:last-child {
        margin-left: 20px;
      }
    }
  }
  .sign-up-count-container {
    text-align: center;
  }
}
