.single-editor-placeholder-visible {
  // Placeholder styles, kind of wonky because `classnames` wasn't working in component, so need extra div
  div {
    padding-left: 1px;
    
    &:before {
      content: attr(data-placeholder)
    }
    &:focus {
      &:before {
        display: none;
      }
    }
  }
  // Hide placeholder in preview/production
  &.preview-mode {
    div {
      &:before {
        content: "";
        display: none;
      }
    }
  }
}
