.custom-tooltip-container {
  position: relative;
  
  .info-button {
    cursor: pointer;
    width: 20px;

    float: right;
    margin-right: 20px;
  }
}


// Tooltip
// src: cssarrowplease.com
.custom-tooltip {
	position: absolute;
  bottom: 24px;

	background: #FFFFFF;
	border: 1px solid #c2e1f5;

  width: 180px;

  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px;

  z-index: 200;

  p {
    margin: 0;
  }
}
.custom-tooltip:after, .custom-tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.custom-tooltip:after {
	border-color: rgba(24, 17, 213, 0);
	border-top-color: #FFFFFF;
	border-width: 5px;
	margin-left: 55px;
}
.custom-tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 6px;
	margin-left: 54px;
}
