/// This file contains the styles for base elements, like <body> or <h1>
/// As well as defining base behaviors for all elements of certain types

.app {
  color: $gray3;

  // Add padding to top to accommodate header, but only in edit mode
  // TODO: Maybe split these out into separate file if there are too many overrides
  &[data-mode="edit"] {
    .header-block{
      margin-top: $header-height;
    }
    .controls-container {
      padding-top: $header-height;
    }

    .notify {
      top: $header-height + 10;
    }

  }

  // Don't really need both "edit" and "not edit" selectors, but it helps conceptually to see what needs to be added
  // for each mode
  &:not([data-mode="edit"]) {
    .header-block {
      top: 0;
      position: fixed;
      z-index: 100;
      background-color: $white;
    }
    .tagline-block {
      margin-top: $built-page-header-height;
      @include breakpoint(sm) {
        margin-top: $built-page-header-height-mobile;
      }
    }
    // Add class to hide if not in edit mode
    .edit-only {
      display: none;
    }

  }
}

// Set elements to have max height of page height, because blocks container and controls container
// should have their own scroll

html, body, #root, .app {
  height: 100%;
}

[role="button"] {
  cursor: pointer;
}

[contenteditable="true"] {
  &:focus {
    outline: none;
  }
  cursor: text;
}

// For now take off focus from normal elements, even though it's not accessible
a, input, button, img {
  &:focus {
    outline: none;
  }
}

a {
  color: $blue2;
}

.hidden {
  display: none;
}

[disabled] {
  cursor: default;
}

// Custom checkbox
.custom-checkbox {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
