/*
This file contains all changes to bootstrap elements.
Any mention of a class already existing in bootstrap should be placed here.
*/
.navbar {
  min-height: $header-height;
  margin: 0;
  border: 0;

  &.navbar-default {
    border-radius: 0;
    background: none;
  }
}

.container-fluid {
  padding-left: 36px;
  padding-right: 36px;
}

hr, legend {
  margin: 0;
}

legend {
  border-bottom: none;
  font-size: inherit;
  color: inherit;
}

.btn {
  @include opacityHover;
  &:hover, &:focus, &:active:focus {
    color: white;
    outline: 0;
  }
}

.btn-default {
  background: none;
  text-shadow: none;
  border: none;

  color: $gray2;

  &:focus, &:hover, &:active {
    outline: none;
    background: none;
    color: $gray2;
  }
}

.jumbotron {
  margin: 0;
  padding: 0;
}

.dropdown {
  margin: 23px 0 15px 0;

  .btn {
    width: 100%;
    height: 40px;

    border-radius: 2px;
    font-size: 12px;

    box-shadow: none;
    border: 1px solid $blue1;
    text-align: left;
  }
  .dropdown-menu {
    width: 100%;
    border-radius: 0px 0px 2px 2px;
    margin: 0;

    box-shadow: none;
    background: $white;

    border-top: 0;
    border-left: 1px solid $blue1;
    border-right: 1px solid $blue1;
    border-bottom: 1px solid $blue1;

    li {
      height: 37px;
    }
    a {
      font-size: 12px;
      padding: 10px 20px;

      &:hover {
        background: #f6f7f9;
      }
    }
    button {
      font-size: 12px;
      padding: 10px 20px;

      position: relative;

      text-align: left;

      width: 100%;
      background: $white;
      color: $black-2;

      border: none;

      &:hover {
        background: #f6f7f9;
      }
    }
  }
  .caret {
    position: absolute;
    right: 14px;
    top: 18px;
  }
}

// Override normal styles for lists
ul, ol, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// Alert styles
.alert {
  font-weight: 800;
  font-size: 14px;
  padding: 20px;
}
.alert-danger {
  background: rgba(244, 226, 226, 0.95);
}
.alert-warning {
  background: rgba(252, 249, 232, 0.95);
}
.alert-success {
  background: rgba(219, 236, 205, 0.95);
}

// Dropdowns
.dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:focus {
  border-color: $blue1;
  color: $black-1;
  background: none;
  border-radius: 2px 2px 0px 0px;
}
.open {
  .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:focus {
    border-color: $blue1;
    color: $black-1;
    background: none;
  }
}
