/* TYPOGRAPHY & METER */
	html, body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 14px;
		color: #666666;
		line-height: 1.5;
	}

	/* http://type-scale.com/ -- Major Third (1.25) */
	h1 {font-size: 3.815rem}
	h2 {font-size: 3.052rem}
	h3 {font-size: 2.441rem}
	.biggest {font-size: 1.953rem}
	.bigger {font-size: 1.563rem}
	.big {font-size: 1.25rem}
	.small {font-size: 0.8rem}
	.smaller {font-size: 0.64rem}
	.smallest {font-size: 0.512rem}

	p, ul, ol, li {
	    margin-top: 0;
	    // margin-bottom: 1.5em;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		line-height: 1.1;
		margin-bottom: 0.75em;
		font-weight: 300;
	}

	.spacer {
		margin-top: 2em;
	}

	/* For smaller headers between paragraphs */
	.text-header {
		margin-bottom: 0.25em;
	}


/* EMPHASIS */
	.em-normal {font-weight: 400;}
	.em-semi {font-weight: 600;}
	.em-extra {font-weight: 800;}

/* COLORS */
	.calm {color: #4198CC;}
	.calm-bg {background-color: #4198CC;}
	.energized {color: #FF6B6F;}
	.energized-bg {background-color: #FF6B6F;}
	.positive {color: #4DD45D;}
	.positive-bg {background-color: #4DD45D;}
	.negative {color: #D23C41;}
	.negative-bg {background-color: #D23C41;}
/*	.alert {color: #FFC84B;}
	.alert-bg {background-color: #FFC84B;} */


/* Fixed-Width Option for Icon Fonts */
.i-fw {
	display: inline-block;
    	width: 1.28571429em;
    	text-align: center;
}
