// Colors, ranked from lightest to darkest
// Scale goes negative so we can add even lighter ones if we need to (is this too confusing?)
$gray-2: #fafbfe;
$gray-1: #e8e8e8;
$gray0: #e0e7ee;
$gray1: #595C66;
$gray2: #777782;
$gray3: #979797;

$white: #FFFFFF;

$black-2: #333;
$black-1: #484848;
$black: #000000;

$blue1: #88bfff;
$blue2: #4a90e2;
$blue3: #29c0d9;

$green: #06d685;

$teal: #50e3c2;

$red1: #d0021b;

$yellow1: #F0AD4E;


// Dimensions
$header-height: 63px;
$built-page-header-height: 78px;

$built-page-header-height-mobile: 147px;

$controls-width: 248px;
$controls-container-padding: 26px;

// Styles
@mixin activeHighlight {box-shadow: 0 1px 0 0 rgba(151, 151, 151, 0.5), inset 0 0 43px 2px $teal};
@mixin activeHighlightSmall {box-shadow: 0 1px 0 0 rgba(151, 151, 151, 0.5), inset 0 0 16px 0px $teal};

// Typography
@mixin normal-weight {font-weight: 400};
@mixin bold {font-weight: 600};
@mixin extra-bold {font-weight: 800};

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin quadOut {
  // src: https://matthewlein.com/ceaser/
  transition: all 1s cubic-bezier(0.550, 0.055, 0.675, 0.190);
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@mixin easeOut {
  transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
  transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

@mixin opacityHover {
  transition: opacity .4s ease-in-out;
  &:hover {
    outline: 0;
    opacity: .75;
  }
}
