.blocks-container {
  display: inline-block;
  vertical-align: top;

  width: 100%;
  height: 100%;

  overflow: auto;
  // Smooth scrolling on mobile
  -webkit-overflow-scrolling: touch;
  @include easeOut;
}

// Specific styles just for when app is in editable mode
[data-mode="edit"] {
  .blocks-container {
    // TODO: Test to make sure this works as expected in IE
    width: calc(100% - #{$controls-width});

    border-width: 0px 1px 1px 1px;
    border-color: $gray0;
    border-style: solid;
  }

  .jumbotron-content {
    .vertical-aligner {
      border: 2px dotted $gray3;
    }
  }

}
