footer {
  height: 77px;
  text-align: center;

  background-color: $gray-2;
  font-size: 12px;

  cursor: default;

  // Need !important on these because other styles are nested in [data-type="edit"] blocks.  Could override that
  // here, but this is just a bit cleaner
  box-shadow: none !important;
  cursor: default !important;

  img {
    height: 30px;
  }

  a {
    font-size: 10px;
  }

}
