// TODO: See how long we can go with making generic classes,
// will probably have to split out larger components into their own files

[data-mode="edit"] {
  .page-block {
      cursor: pointer;
      &.active, &:hover {
        @include activeHighlight;
        // Apply same styles to background layer children
        .background-layer, .opacity-layer {
          &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              @include activeHighlight;
          }
        }
      }
  }

  .team-member {
    &.active {
      @include activeHighlight;
      .team-member-image {
        @include activeHighlight;
      }
    }
  }

}

// Old school way of vertically aligning.  Could use flexbox if we feel like being fancy
// (and only supporting IE10+)
.vertical-align-container {
  display: table;
}

.vertical-aligner {
  display: table-cell;
  vertical-align: middle;
}

.page-block {
  position: relative;
  width: 100%;

  border-bottom: 1px solid $white;
  &:last-child {
    border-bottom: none;
  }
}

// Need a position: absolute container to align contents on top of video element
.block-content-container {
  width: 100%;
  height: 100%;
  height: 447px;
  top: 0;
  left: 0;
}

// Opacity overlays and solid background overlays
.opacity-layer, .background-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.image-background {
  // Need this in css with !important because the react inline style wasn't working, but just setting the
  // background there will override normal styles
  background-size: cover !important;
  &.default-background {
    background-size: contain !important;
  }
  &.parallax {
    background-attachment: fixed !important;
  }
}

// These dotted borders are for editable sections, so hide them if they're in an "edit-only" modal
.edit-mode {
  .dotted-border {
    border: 1px dotted $gray3;
  }
}
