.header-block {
  min-height: 77px;

  nav {
    border-radius: 0px;
  }

  .logo-container {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    // TODO: Probably have to revisit when people start uploading logos
    .vertical-align-container {
      margin: 0 auto;
      height: 77px;
    }
    img {
      height: 45px;
      max-width: 152px;
    }
    @include breakpoint(sm) {
      display: none;
    }
  }

  .header-link {
    padding: 9px 28px !important;
    margin: 17px 30px;

    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 4px;

    cursor: pointer;
    @include bold;

    // Just to keep spacing consistent with link with visible border
    border: 2px solid transparent;

    transition: color 400ms ease-in-out, background-color 400ms ease-in-out;

    @include breakpoint(sm) {
      padding: 10px 15px !important;
      margin: 0;
    }
  }
}
