// Styles tied to Bootstrap class for now, might want to make into custom class if we want to
// not rely on bootstrap as much/in the future
.jumbotron {

  height: auto;
  min-height: 447px;

  background: none;
  overflow: hidden;

  h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 25px;
  }
  p {
    font-size: 15px;
    margin: 0;
  }
  button {
    padding: 15px 30px;
    margin-top: 25px;
    letter-spacing: 2px;
  }

  .jumbotron-message {
    width: 65%;
  }

  @include breakpoint("sm") {
    .jumbotron-message {
      width: 90%;
    }
  }

  // Section specific styles
  &.tagline-block {
    text-align: center;
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 20px;
    }
  }

  &.goals-block {
    text-align: right;
  }

  /*
  This was used to offset the paragraph, but for now just keep default 100% width
  &.mission-block, &.goals-block, &.sign-up-block {
    p {
      max-width: 90%;
    }
  }
  */

  &.team-block {
    text-align: center;

    .vertical-aligner {
      padding: 4% 6%;
    }
  }

  &.location-block {
    .jumbotron-message {
      width: 100%;
    }
  }

  // Padding just for jumbotron containers
  .block-content-container {
    padding: 4%;
  }
  .vertical-aligner {
    padding: 0% 6%;
  }

}

.jumbotron-message {
  display: inline-block;
  vertical-align: top;
}

// Background videos for jumbotron
.background-layer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: $gray-2;
}
.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
