/// Bottom "location" blocks that include address and map objects
// Share and then override some styles from "jumbotrons" stylesheet

// Simple two column container, if reused could be split into different component
$location-block-container-height: 689px;
$location-block-height: 300px;

.block-content-container {
  &.bottom-image {
    height: $location-block-container-height
  }
}

// Two columns should only appear if screen is big enough
.two-column-block {
  position: relative;
  height: auto;

    .column-left, .column-right {
      display: inline-block;
      vertical-align: top;

      width: 50%;
      height: auto;

      .jumbotron {
        height: 100%;
      }

      // Override styles just for location block
      .location-block {
        height: $location-block-height;

        .jumbotron-header-image-container {
          text-align: left;
          img {
            height: 70px;
          }
        }

        .vertical-aligner {
          padding: 0% 20%;
        }

        h1 {
          margin: 5px auto;
        }
        p {
          margin: 5px auto;
          font-size: 24px;
          display: block;
        }

      }

      .map-block {
        background-color: $gray-2;

        // TODO: Revist how this height is calculated, and possibly refactor bottom
        // block to make more sense
        height: 242px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .column-right {
      height: $location-block-container-height;
    }

    // Mobile styles
    @include breakpoint(md) {
      // TODO: Revisit this number (and how it's calculated) and fix border on bottom image container
      height: 1137px;
    }

    .column-left {
      border-right: 1px solid $white;
      // Only have two columns if screen is big enough
      @include breakpoint(md) {
        height: $location-block-container-height;
        width: 100%;
        display: block;
      }
    }

    .column-right {
      @include breakpoint(md) {
        height: $location-block-height;
        width: 100%;
        display: block;
      }
    }
}

// Google map
.google-map-component {
  width: 100%;
  height: 100%;
}
