.team-member-container {
  padding: 0px 15%;
  margin-top: 20px;
  text-align: center;
}

// Overrides for default styles of jumbotrons
.team-block {
  .block-content-container {
    height: auto;
  }
}

.jumbotron-header-image-container {
  text-align: center;
  img {
    display: inline-block;
    vertical-align: top;
    height: 90px;
    margin-top: 24px;
    margin-bottom: 6px;
  }
}


// Variables for both teammate blocks and the "add new teammate" button
$team-block-width: 147px;
$team-block-height: 276px;
$team-block-margin: 20px;

.add-team-member-container {

  display: inline-block;
  vertical-align: top;
  text-align: center;

  margin-right: $team-block-margin;
  margin-bottom: $team-block-margin;

  .vertical-align-container {
    height: $team-block-height;
    width: $team-block-width;
  }

  button {
    border: none;
    margin: 0;
    height: 60px;
    width: 60px;
  }
}

.team-member {
  position: relative;

  width: $team-block-width;
  height: $team-block-height;
  padding: 10px;

  display: inline-block;
  vertical-align: top;

  margin-right: $team-block-margin;
  margin-bottom: $team-block-margin;

  text-align: center;

  // Debug
  background-color: $white;

  border: 1px solid $gray3;

  .delete-team-member {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .team-member-image {
    width: 92px;
    height: 92px;
    border-radius: 46px;
    display: inline-block;
    vertical-align: top;

    margin: 24px 0 24px 0;
  }
  .name {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .title{
    display: block;
    font-size: 12px;
  }
  .linked-in-button {
    height: 24px;
    width: 24px;

    position: absolute;
    bottom: 18px;

    // Trick to center align when text-align: center already set
    transform: translateX(-50%);
  }
}
