.add-job-modal {
  padding: 2.3rem 3.5rem 0 3.5rem;

  // TODO: Add overflow-x hidden to all settings panels?
  overflow-x: hidden;

  .close-out {
    top: 23px;
    right: 30px;
  }

  h2 {
    font-size: 14px;
    margin-bottom: 33px;
  }

  .input-container {
    position: relative;
    padding-top: 4px;
    display: inline-block;

    img {
      position: absolute;
      top: 15px;
      left: 17px;

      width: 20px;
      height: 20px;
    }

    input {
      border: solid 1px #e0e7ee;
      padding: 10px 15px 10px 55px;
      border-radius: 4px;
      width: 250px;
      float: left;
      font-size: 12px;
    }

  }

  button {
    transition: all 0.25s ease-in-out;
    width: 190px;
    float: right;
    height: 46px;
    border-radius: 2px;
    background-color: #37d67a;
    font-size: 14px;
    letter-spacing: 1.8px;
    color: #ffffff;
    border: 0px none;

    img {
      margin-right: 15px;
    }

    &:hover {
      background-color: #2eb869;
    }
  }

  .tab-container {
    margin-top: 27px;
    border-bottom: solid 1px #dce3eb;

    .tab {
      width: 140px;
      border-bottom: solid 3px #4990e2;
      display: inline-block;
      text-align: center;
      padding-bottom: 5px;
      margin-left: 10px;

      img {
        margin-right: 22px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: auto;
  }

  li {
    position: relative;
    list-style-type: none;
    padding: 2rem 3rem 2rem 3rem;
    border-bottom: 1px solid #e0e7ee;

    // Hover to show it's clickable
    &:hover {
      background-color: #f7f8f9;
    }

    .row-contents {
      overflow: hidden;
      white-space: nowrap;
      max-width: 250px;
      display: inline-block;
      text-overflow: ellipsis;
      line-height: 1.4rem;
      font-size: 12px;
    }

    .delete-list-item {
      position: absolute;
      top: 24px;
      right: 20px;
    }
  }

  .profile-list {
    max-width: 450px;
  }

  .labeled-form {
    margin-top: 30px;
  }

}