// Sign up modal (where candidates sign up, not to be confused with the sign up list which lists everyone who has signed up)
.application-modal {
  padding: 80px;
  .logo-image-container {
    margin: 0 auto 25px auto;
  }

  .close-out {
    top: -55px;
    right: -45px;
  }

  .previous-page {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: -45px;
    padding: 5px;
  }

  label {
    clear: both;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

    span {
      text-align: center;
      display: block;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 25px;
    }
  }

  .error-field {
    position: absolute;
    top: 28px;
    width: 100%;
    font-size: 11px;
    color: $red1;
  }

  .upload-label {
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  .dropzone {
    background: #e8e8e8;
    font-size: 14px;
    text-align: center;
    max-width: 180px;
    width: 100%;
    display: block;
    margin: auto;
    color: #4a4a4a;
    padding: 10px;
    letter-spacing: 0.2px;
    border: 1px dashed #777777;
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-bottom: 5px;
    }

    .drag-text {
      display: block;
    }

    .or-text {
      display: block;
      font-size: 10px;
    }

    .select-file {
      display: inline-block;
      width: 100px;
      height: 25px;
      line-height: 25px;
      background: #8a8a8a;
      font-size: 12px;
      color: #ffffff;
      border-radius: 2px;
    }
  }

  .file-type-text {
    display: block;
    font-size: 10px;
    text-align: center;
    margin-bottom: 25px;
    color: #aaaaaa;
  }

  input {
    display: block;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    max-width: 330px;
    width: 100%;
    margin: auto;
    font-weight: 400;
  }

  button {
    padding: 14px 0px;
    max-width: 216px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 45px;
  }

  h1 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2.7px;
    text-align: center;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #4a4a4a;
  }

}
