// Custom dialog box
.custom-dialog-modal-overlay {
  z-index: 100;
}
.custom-dialog-modal {
  height: 255px;
  color: $black-1;

  .dialog-content {
    height: 100%;
    width: 100%;
    padding: 35px;
    text-align: center;
  }
  .button-container {
    margin-top: 28px;
  }
  p {
    margin: 30px 0 0 0;
  }
  button {
    min-width: 176px;
    height: 45px;
    margin-right: 18px;
    font-weight: 800;

    &:last-child {
      margin-right: 0;
    }
    // Default style is a "confirm" button that is filled in
    color: $white;
    border-radius: 2px;
    background: $green;

    // Custom styles for confirm button
    &.cancel {
      border: 1px solid $teal;
      color: $teal;
      background: $white;
      &:active {
        color: $teal;
      }
    }

  }
}
