.manager-list-modal {
  max-width: 90%;
}

.hiring-manager-list-container {
  margin-top: 40px;

  div {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    border: 0;
    width: 100%;
    @include ellipsis();
  }
  .hiring-manager-row {
    display: block;
    padding: 24px 0;

    border-bottom: 1px solid $gray-1;

    cursor: pointer;

    &:hover, &.active {
      box-shadow: 0 1px 0 0 rgba(151, 151, 151, 0.5), inset 0 0 22px 2px $teal
    }

    &:focus {
      background: blue;
    }

    &.header-row {
      font-weight: 800;
      color: $black-1;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      &:hover {
        box-shadow: none;
        cursor: default;
      }
    }

  }
  // Column sizes
  .column-1 {
    width: 4%;
    margin: 0 0.5%;
  }
  .column-2 {
    width: 9%;
    margin: 0 0.5%;
  }
  .column-3 {
    width: 13%;
    margin: 0 1%;
  }
  .column-4 {
    width: 13%;
    margin: 0 1%;
  }
  .column-5 {
    width: 13%;
    margin: 0 1%;
  }
  .column-6 {
    width: 18%;
    margin: 0 1%;
  }
  .column-7 {
    width: 18%;
    margin: 0 1%;
  }

  .image-dropzone {
    display: none;
  }
  .upload-image {
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }

  .create-manager-button {
    width: 30px;
    height: 30px;
  }
}

.add-manager-button-container {
  text-align: center;
  display: block;
  width: 100%;
  margin: 20px 0;

  img {
    max-width: 40px;
  }
}
