// Jobs Modal styles
.jobs-modal {

  color: $black-1;

  .dropdown-menu {
    height: 300px;
    overflow-y: auto;
  }

  .dropdown-toggle {
    text-transform: none;
  }

  // Put back default ol/ul styles that we remove in global styles
  // Only for description
  #job-description {
    ul {
      padding-left: 18px;
      li {
        padding-left: 14px;
        list-style: outside disc;
      }
    }
    ol {
      padding-left: 18px;
      li {
        padding-left: 14px;
        list-style: outside decimal;
      }
    }
  }
  .info-container {
    position: relative;
    h1 {
      font-size: 24px;
      line-height: 36px;

      [contenteditable="true"] {
        min-width: 70px;
      }
    }

    h2 {
      font-size: 20px;
      letter-spacing: 2px;
      margin: 15px auto;
      text-transform: uppercase;
    }
  }
  .modal-header {
    position: relative;
  }

  // Absolute position logo in top left corner
  .logo-image-container {
    position: absolute;
    left: $modal-padding + 15;
    // Extra top padding added for trash/disable buttons
    // top: $modal-padding + 15 + 15;
  }

  // Custom styles for "enabled" toggle
  .switch-container {
    position: absolute;
    z-index: 1;
    top: $modal-padding - 3;
    left: 25px;

    .switch-label {
      top: 6px;
    }
  }

  .delete-button {
    left: 85px;

  }
  .close-out {
    top: 7px;
    right: 12px;
  }

  .header-info-container {
    padding-left: 170px;
    display: block;
    .company-title {
      text-transform: uppercase;
      @include ellipsis;
      letter-spacing: 1.5px;
      color: $gray3;
      font-size: 15px;
    }

    // Location and compensation blocks
    // Kind of funky alignment rules to get everything vertically centered and override styles for inputs
    .info-items {
      .compensation-container {
        [contenteditable="true"] {
          min-width: 100px;
        }
      }
      .info-item-container {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        max-width: 320px;
        height: 24px;
        line-height: 24px;
        span, img {
          display: inline-block;
          vertical-align: middle;
          line-height: 24px;
        }
      }
    }
    button.apply {
      height: 41px;
      width: 100%;
      background-color: $blue3;
      color: $white;

      font-size: 15px;
      letter-spacing: 1.5px;

      font-weight: 800;

      margin-top: 15px;

      .you-applied {
        margin-right: 22px;
      }
    }
    .money-img {
      margin: 0 15px 0 0;
    }
  }

  // TODO: Remove this if no longer using
  .add-new-paragraph-button {
    height: 70px;
    text-align: center;
    padding: 18px 0;

    img {
      height: 32px;
      width: 32px;
    }
  }

  .modal-body {
    overflow-y: auto;
    height: auto;

    &.collapsed {
      height: 170px;
    }
  }

  .collapse-container {
    padding: 5px;
    text-align: center;
    img {
      padding: 5px;
    }
  }

  .hp-modal-footer {

    position: relative;
    text-align: center;

    margin-top: 20px;
    padding: 18px;
    min-height: 94px;

    border-top: 1px solid rgb(229, 229, 229);

    h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .hp-footer-contents {
      padding-left: 108px;
      a {
        width: 25px;
      }
      p {
        max-width: 90%;
      }
    }

    .hp-modal-footer-container {
      display: inline-block;
      vertical-align: top;
      position: relative;
      text-align: left;
    }

    .hiring-manager-image {
      position: absolute;
      height: 52px;
      width: 52px;
      border-radius: 37px;
    }

    .add-hiring-manager-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .linked-in-button {
      width: 17px;
      height: 17px;
    }
  }

  .google-map-container {
    margin-top: 20px;
    height: 250px;
    width: 100%;

    img {
      margin: 0 auto;
    }
  }

}

// Only show active hover in edit mode
.edit-mode {
  .jobs-modal {

    .info-container h1 [contenteditable="true"] {
      &:hover, &:focus {
        @include activeHighlightSmall;
      }
    }

    .compensation-container {
      [contenteditable="true"] {
        &:hover, &:focus {
          @include activeHighlightSmall;
        }
      }
    }

    .geosuggest__input {
      &:hover, &:focus {
        @include activeHighlightSmall;
      }
    }

    .modal-body {
      &:hover, &:focus {
        @include activeHighlight;
      }
    }

    .hp-modal-footer {
      cursor: pointer;
      &:hover {
        @include activeHighlight();
      }
    }
  }
}
