// Jobs list
.jobs-list-modal {
  padding: 45px;
  .logo-image-container {
    margin: 0 auto 45px auto;
  }

  a {
    cursor: pointer;
    display: block;
    text-align: center;

    font-size: 15px;
    color: $blue3;

    margin-bottom: 35px;
  }
}
