// Prefix classes with "hp" to distinguish from bootstrap classes

// Job page header
.job-page-logo {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
  border-bottom: solid 1px #dddddd;
  position: absolute;
  z-index: 1000;
  text-align: center;
  padding: 11px 0px;
}

$modal-padding: 13px;
.hp-modal {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

  max-width: 576px;
  height: calc(100% - 40px);

  margin: 20px auto;

  background-color: $white;

  // Animation
  transition: all 0.4s;
  transform: scale(1);
  opacity: 1;

  &.job-page-modal {
    max-width: 780px;
    height: auto;
    margin: 67px auto 15px auto;
  }

  &.application-modal-container {
    max-width: 742px;
  }

  &.dialog-dismissed {
    transform: scale(0);
    opacity: 0;
  }

  &:focus {
    outline: 0;
  }

  .close-out-container {
    position: relative;
    width: 100%;
  }

  .close-out {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 40px;
    padding: 5px;
  }
  .delete-button {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 25px;
    width: 20px;
  }
  // Add letter spacing for "jumbo" buttons
  .btn {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.hp-modal-overlay {
  position: fixed;
  // Should go over header in prod on mobile
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(74,74,74,.6);

  // Class to be applied if we're in `edit` mode, since this falls outside normal app container with `mode` attr
  &.with-controls-padding {
    right: $controls-width;
    top: $header-height;
  }
  // For animations
  &.dialog-dismissed {
    visibility: hidden;
  }

  &.application-modal-overlay {
    background-color: #f9f9f9;
  }

  &.job-page-modal-overlay {
    background-color: #f9f9f9;
    overflow: auto;

    .modal-contents {
      height: auto;
      overflow: visible;

      .logo-image-container {
        width: 150px;
        height: 150px;
      }

      .header-info-container {
        padding-left: 200px;
      }
    }
  }

}

.modal-contents {
  height: 100%;
  overflow: auto;
  padding: $modal-padding;
  position: relative;

  // Logo image centered in ring with dynamic color
  .logo-image-container {

    height: 125px;
    width: 125px;

    text-align: center;

    border-radius: 50%;
    border: 2px solid $blue1;

    background-size: cover;
    background-position: center center;
  }
}
