// Sign up List modal

.sign-up-list {
  padding: 30px 50px;
  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 21px;
  }
  a {
    font-weight: 500;
  }
  button {
    height: 45px;
    padding: 5px 10px;
    background-color: $blue3;
    color: $white;
    font-size: 14px;
    img {
      display: inline-block;
      vertical-align: top;
      width: 20px;
      height: 20px;
      margin-right: 18px;
    }
  }
  // Overrides for normal tooltip styles
  .custom-tooltip-container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;

    .custom-tooltip {
      top: 26px;
      bottom: auto;
      border: 2px solid $blue2;
      line-height: 22px;
      padding: 12px;
      // TODO: Implement up-arrow
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
  }
  table {
    width: 100%;
    margin-top: 30px;

    th {
      font-weight: 800;
      text-transform: uppercase;
      color: $black-1;
      letter-spacing: 1.5px;
      padding: 0 10px;
    }
    td {
      padding: 0 10px;
      max-width: 150px;
    }
    tbody {
      tr {
        height: 70px;
        border-bottom: 1px solid $gray-1;
      }
    }
  }

}

.sign-up-list-modal {
  max-width: 682px;

  // Job select
  .dropdown {
    margin-left: 30px;
    height: 60px;
  }
}
