// Sign up modal (where candidates sign up, not to be confused with the sign up list which lists everyone who has signed up)
.sign-up-modal {
  padding: 80px;
  .logo-image-container {
    margin: 0 auto 45px auto;
  }

  .close-out {
    top: -55px;
    right: -45px;
  }

  label {
    clear: both;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

    span {
      display: inline-block;
      vertical-align: top;
      height: 35px;
      line-height: 35px;
    }
  }

  .error-field {
    position: absolute;
    top: 28px;
    right: 0;
    width: 300px;
    font-size: 11px;
    color: $red1;
  }

  input {
    font-weight: 400;
    float: right;
    width: 300px;
    margin: 0;
  }

  button {
    padding: 14px 30px;
    width: 300px;
    float: right;
  }

  // Job select
  .dropdown {
    float: right;
    margin: 0 0 25px 0;

    .btn {
      width: 300px;
      padding: 6px 12px;
    }
  }
}
